<div class="container">
    
    <form>
  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email" ng-model="admin.email" placeholder="Enter Email">
  </div>
  <div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd" ng-model="admin.password" placeholder="Enter Password">
  </div>
  <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
  </div>
  <button type="submit" ng-click="validate(admin)" class="btn btn-default">Submit</button>
</form>
   
   
   {{arr}}
    
</div>