     <style>
        .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}
</style>

   


   <div class="container">
    <div class="container">
    <h5>Email: sudosk@sabanciuniv.edu</h5>
    
    <br>
    
    <h5>Contact us:</h5>
    <div class="form-group">
      
      
      <textarea class="form-control" name="comment" ng-model="email.text" rows="5" id="comment"></textarea>
         <hr style="height:0pt; visibility:hidden; margin-bottom:5px !important; margin-top:5px !important;" />
            <button type="submit" ng-click=sendMail(email) class="btn btn-default">Submit!
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      
      </button>      
    </div>
    <br>
    <br>
    
</div>   
 <a href="https://www.facebook.com/groups/sudosk/" class="fa fa-facebook">