<!-- Navigation -->
  
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
     
      <div class="container" id="menu-bar">
       
        <a class="navbar-brand" href="#/">Sabanci University Outdoor Sports Club</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/news">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/events">Events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#/contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
      <a class="nav-link" href="#/"><div style="float:right"><img src="media/sudosk.jpg" width="74px" height="25px"></div></a>
    </nav>