<style>
img {
    max-width: 100%;
    max-height: 110vh;
    height: auto;        
    align-content: center
}
    div.go-up{
        margin-top:-20px;
    }
</style>
 <div class="go-up">
  <img src="media/climbing.jpg" alt= "Climber">
  
   <div class ="container">
   <br/>
   <h3>Tarihçe:</h3>
   
    <p style="font-family:sans-serif; font-size:18px">
    Sabancı Üniversitesi Doğa Sporları Kulübü (SUDOSK), 1999 yılının kasım ayında, üniversitenin ilk kulüplerinden biri olarak kuruldu. İlk senesini genelde organize olma çalışmalarıyla geçiren SUDOSK, ikinci seneyle birlikte eğitim ve faaliyetlere hız verdi. Kulüp bünyesinde faaliyet gösteren iki koldan biri olan Scuba daha sonra gelişerek kendi başına bir kulüp halini aldı.
Diğer kol olan dağcılık ve Kaya Tırmanışı Kolu ise, iki seneye yayılan bir eğitim programıyla çalışmalarına hız verdi. Eğitimler ve faaliyetler gün geçtikçe daha organize bir biçimde ilerlerken, 2001 yılının ilk yarısında yapımı tamamlanan SUDOSK tırmanış duvarı, kulüp bünyesinde kaya tırmanışı ile ilgilenmek isteyenler için değerli bir antrenman alanı oluşturdu. Sudosk'un kendi içinden yetişmiş ilk eğitmenleri 2002'nin sonlarına doğru eğitim ve faaliyetlerde görev almaya başladılar.
EĞİTİM
SUDOSK, kurulmasından bu yana geçen çok kısa sürede çok büyük bir gelişme kaydetmiştir. Öncelikli amacımız, bu gelişmeyi sürekli hale getirip SUDOSK'u ülkemizdeki üniversite kulüpleri arasında, doğa sporlarının, yetkin ve doğaya saygılı bir şekilde yapıldığı aktif bir kulüp haline getirmektir.
SUDOSK Başlangıç Dağcılık ve Kaya Tırmanışı Kolu eğitimleri iki döneme bölünmüştür. İlk dönem (yaz ve kış kampçılık) temel doğa sporları eğitimi şeklinde geçer. Bu senede, yaz ve kış kampları hakkında bilinmesi gereken temel bilgiler üzerinde durulur. Buna ek olarak, dağcılık için gerekli olan temel bilgiler, pratik aktiviteler ile de desteklenir. Başlangıç eğitiminin sonunda bir değerlendirme sınavı yapılır ve başarılı olanlar ikinci dönem eğitimine katılmaya hak kazanırlar.
İkinci dönem (kaya tırmanışı ve ileri seviye dağcılık) daha ileri düzey dağcılık ve kaya tırmanışı bilgilerini içerir. Gelişim senesine geçmiş dağcılardan, aynı zamanda her türlü fırsatı değerlendirerek tecrübelerini
    arttırmaları da beklenir. İkinci dönemin sonundaki gelişim değerlendirme sınavını da başarıyla geçen dağcılar SUDOSK sporcusu olmaya hak kazanırlar.</p>
    <iframe width="1110" height="625" src="https://www.youtube.com/embed/Uzvu2f5wZOg?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <img src="media/zirve.jpg" alt="Trekking">
    
    </div>
</div>



    